// Colors
color_lightdark = #bdbdbd
color_dark = #292929
color_dark_opaque = rgba(41, 41, 41, 0.9)
color_light = #F1F3F7
color_primary = #0095ff
color_secondary = #45b2ff

color_vibrant_1 = #9C27B0
color_vibrant_2 = #FF5722
color_vibrant_3 = #F44336
color_vibrant_4 = #8BC34A
color_vibrant_5 = #03A9F4
color_vibrant_6 = #CDDC39

// Algin
paddingLeftBorder   = 8rem
paddingTopBorder    = 4rem
padding_small       = 0.5rem

//Marings
margin_small       = 0.2rem

// Sizes
font_normal         = 1.5rem
font_medium         = 2rem
font_large          = 2.5rem

font_weight_light          = 200
font_weight_medium         = 600

padding_normal      = 0.2rem
padding_medium      = 0.5rem

margin_normal       = .5rem

timer_width         = 10rem
