// Colors
color_dark = #292929
color_dark_opaque = rgba(41, 41, 41, 0.9)
color_light = #F1F3F7
color_primary = #0095ff
color_secondary = #45b2ff


// Algin
paddingLeftBorder   = 8rem
paddingTopBorder    = 4rem

// Sizes
font_medium         = 1.5rem
font_large          = 2.5rem

font_light          = 200
font_medium         = 600

padding_normal      = 0.2rem
padding_medium      = 0.5rem

margin_normal       = .5rem

timer_width         = 10rem