.content
  display block
  width 100%
  flex-wrap wrap
  font-family 'Raleway'

  .display
    text-align right
    padding padding_small

    > span
      display block
    
    .equation
      color color_lightdark
      font-size font_normal
      margin-bottom margin_small
    
    .input
      color color_dark
      font-size font_large
  
  .button
    width 100%
    position relative
    font-size font_large
  
    &:active
      background color_light

    .content
      position absolute
      top 50%
      transform translateY(-50%)

  .button:before
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
  .double.button:before
    padding-top: 50%;

  .operands
    width 100%
    font-size font_large
    display flex
    flex-wrap wrap

    .operators
      width 25%
      display block
      text-align  center

      >div:nth-child(1)
        color color_vibrant_1

      >div:nth-child(2)
        color color_vibrant_2

      >div:nth-child(3)
        color color_vibrant_3
      
      >div:nth-child(4)
        color color_vibrant_4

      >div:nth-child(5)
        color color_vibrant_5

    .numbers
      width 75%
      display flex
      text-align center
      flex-wrap wrap
      font-family 'Arial'

      .button
        width 33%
      
      .double 
        width 66%

    .lastRow
      width 100%
      text-align center
      display flex

