.top-bar
  width 100%
  text-align center

  .top-btn
    display block
    padding padding_normal
    width 100%
    font-size font_medium
    background color_secondary
    color white

    &:hover
      cursor pointer
      background color_primary
