.content
  display inline-flex
  width 100%
  flex-wrap wrap

  .timer
    width timer_width
    text-align center
    border .1rem solid color_primary
    margin margin_normal

    >.header
      background color_dark
      color color_light
      padding padding_medium
    
    >.body
      display block
      text-align left
      padding padding_normal
      
      >div
        width 100%
        margin-bottom margin_normal
        font-weight font_light

        >span
          color color_primary
          font-weight font_medium